@import '//fonts.googleapis.com/css?family=Raleway:400,700|Roboto+Slab:300,400)';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
body {
  background: black;
  color: white;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  margin-top: 10vh;
  margin-bottom: 5vh;
}
h1 {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  text-align: right;
  margin-right: 1vw;
}
a {
  color: inherit;
}
article {
  background: #333;
  margin: 0.5rem;
  width: 15rem;
  max-width: 100%;
}
article p {
  margin: 0.5rem;
}

article p,
article p * {
  font-family: 'Raleway', sans-serif;
}


/* sidebarsies */
body > aside {
  font-size: 0.5rem;
  position: fixed;
  top: 25%;
  right: 0;
  width: 5rem;
  background: #333;
  margin: 0.5rem;
}
body > aside h1 {
  font-size: 0.75rem;
}
body > aside li {
  margin: 0.5rem;
}


/* THE TITLE.. ITS A PRE */
pre {
  font-family: Courier;
  font-size: 0.75rem;
}


/* center dat shit */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* mobile first, desktop first, all first.. all in */

html {
  font-size: 5vw;
}
@media (min-width: 700px) {
  html { font-size: 3vw; }
}
 @media (min-width: 1300px) {
  html { font-size: 2vw; }
} 
