*
  margin: 0
  padding: 0
  box-sizing: border-box
  cursor: default

ul
  list-style-type: none

html
  user-select: none

body
  background: CornflowerBlue
  color: white
  font-size: 1rem
  font-family: 'Roboto', sans-serif
  padding: 3rem
  min-height: 100vh

  display: flex
  -ms-flex-direction: column
  flex-direction: column
  align-items: center

h1
  font-family: "Roboto Slab", serif
  font-size: 2rem
  text-align: right
  line-height: 2rem
  overflow: hidden
  background: rgba(255, 255, 255, 0.1)
  padding-right: 0.3rem

a
  color: inherit
  cursor: pointer

article
  background: #333
  margin: 0.5rem
  width: 15rem
  max-width: 100%

  p
    margin: 0.5rem
    font-size: 0.8rem
    line-height: 1rem

  p, p *
    font-family: 'Roboto', sans-serif

  *
    cursor: inherit
    user-select: text
